
.hero{
    text-align: center;
    padding: 70px 20px 60px 40px;
    margin-bottom: 40px;
}

.hero img{
    width: 700px;
    max-width: 90%;
}

.button-row{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.why-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.why-card img{
    height: 250px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.pet-grid{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.pet-card{
    width: 260px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
    margin-bottom: 50px;
}

.pet-card:hover{
    transform: scale(1.05);
}

.pet-card img{
    width: 100%;
    border-radius: 15px;
    height: 180px;
    object-fit: cover;
}

.pet-card h4{
    margin-top: 10px;
}

.mission-section {
    background-image: url("../images/mission.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    padding: 80px 20px;
    border-radius: 20px;
    position: relative;

    color: #222; 
    
}

.line {
    width: 60px;
    height: 2px;
    background: #999;
    margin: 25px auto;
    border-radius: 10px;
}

.mission-section h2 {
    font-weight: 600;
}

.mission-section p {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
}



