html, body{
    height: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar{
    width: 92%;
    margin: 15px auto;
    background: #58cf96;
    padding: 10px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 50px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);

    position: sticky;
    top: 15px;
    z-index: 100;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 40px; /* space between logo & links */
}

.navbar-left img{
    height: 55px;
}

.navbar-right a{
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 8px 14px;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-size: 17px;
}

.navbar-right a:hover{
    background: #cb6ce6;
    transform: translateY(-3px);
}

.navbar-right.profile-icon {
        height: 32px;
        display: block;
        margin-bottom: 3px;
    }

.navbar-links a{
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding: 8px 14px;
    border-radius: 25px;
    transition: all 0.3s ease;
    font-size: 17px;
}

.navbar-links a:hover{
    background: #cb6ce6;
    transform: translateY(-3px);
}

.navbar-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;   /* PUSH to far right */
}

.profile-icon{
    height: 32px;
    margin-bottom: 4px;
}

.logout{
    font-size: 13px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.logout:hover{
    text-decoration: underline;
}

/* SECTIONS  */
.section{
    text-align: center;
    padding: 80px 60px;
}

.section h2{
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.section p{
    font-size: 18px;
    color: #444;
    max-width: 800px;
    margin: 0 auto;
}

/* BUTTON */
.home-btn{
    padding: 16px 32px;
    background: #FF7EDB;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
    transition: all 0.3s;
}

.home-btn:hover{
    background:#e046ad;
    transform: translateY(-5px);
}

/* ================== FOOTER ================== */
.footer{
    text-align: center;
    background: #644d4d;
    color: white;
    padding: 25px 10px;
    margin-top: auto;
}

.section.light{
    background: white;
}


.why-card{
    background: white;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.why-card:hover{
    transform: translateY(-10px);
}


